@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* custom css  */
body {
  font-family: "Inter", sans-serif;
}
a.active {
  color: #ff6f61;
  border-bottom: 2px solid #ff6f61;
}
#footer {
  display: flex;
  padding: 100px 69px 44px 69px;
  gap: 44px;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
}
#price-banner {
  background-image: url(./assets/pricebg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scrollbar::-webkit-scrollbar {
  width: 0;
}
.mobilenav-link.active button {
  color: white;
  background: #ff6f61;
}
